<!DOCTYPE html>
<html>
<head>
    <title>GateTEXT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Invocador de documentos</h1>
    
    <div class="contenedor-principal">

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="archivo" multiple accept=".pdf, .txt, .docx">
            <button type="submit">Subir archivo</button>
        </form>
        
        <form action="/buscar" method="POST">
            <input type="text" name="palabra" placeholder="Escribe palabra clave">
            <button type="submit">Buscar</button>
        </form>
        
    </div>
</body>
</html>