<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-body">

    <div class="auth-container">
        <h2>Crear cuenta</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>

        <a href="{{ url_for('login') }}">Ya tengo cuenta</a>
    </div>
    <a href="/" class="boton-volver">Volver al buscador</a>
</body>
</html>